/bin
/.aws-sam
/samconfig.toml
/env.json
/dynamodbdata
/dynamodata
/.env
go.work*

/dev-cert.pem
/dev-key.pem
# for local/direct deploys
fly.toml
config.fly.json
legacy-config.fly.json
Dockerfile.fly
