/bin
/.aws-sam
/samconfig.toml
/env.json
/dynamodbdata
/dynamodata
/.env
go.work*
.DS_Store

/data
/dev-cert.pem
/dev-key.pem

# for local/direct deploys
fly.toml
Dockerfile.fly
/clients.fly.hujson
/.cursor
