{
    "IDPFunction": {
        "LOCAL_DEVELOPMENT_MODE": "true",
        "BASE_URL": "http://localhost:3000",
        "SESSION_TABLE_NAME": "sessions",
        "CONFIG_BUCKET_NAME": "lambdaid",
        "GOOGLE_OIDC_ISSUER": "https://accounts.google.com",
        "GOOGLE_OIDC_CLIENT_ID": "xxxxx",
        "GOOGLE_OIDC_CLIENT_SECRET": "xxxxx"
    }
}
