<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <!-- <link rel="stylesheet" href="style.css">
    <script src="script.js"></script> -->
</head>

<body onload="doLogin()">
<!-- <body> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/webauthn.js"></script>

    <div>
        <!-- <h3>webauthn</h3>
        <label for="email">Email:</label>
        <input id="email" name="email" type="text"> -->
        <button onclick="doLogin()">Login</button>
    </div>

</body>

</html>
