{{template "layout.tmpl.html" .}}

{{define "title"}}User Management{{end}}

{{define "body"}}

<div>
    <h3>Add User:</h3>
    <form method="POST">
        {{ csrfField }}
        <input type="hidden" name="action" value="create">
        <label for="email">E-Mail</label>
        <input type="text" name="email"><br>
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName"><br>
        <input type="submit" value="Add">
    </form>
</div>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>Full name</td>
            <td>Delete</td>
        </tr>
    </thead>
    {{range $v := .Users }}
    <tr>
        <td><a href="{{ pathFor "/" }}?override_uid={{ $v.ID }}">{{ $v.ID }}</a></td>
        <td>{{ $v.Email }}</td>
        <td>{{ $v.FullName }}</td>
        <td>
            <form method="POST" onsubmit="return confirm('Really delete user {{ $v.ID }} ({{ $v.Email }})?');">
                {{ csrfField }}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="userID" value="{{ $v.ID }}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {{end}}
</table>

{{end}}
