{{template "layout.tmpl.html" .}}

{{define "title"}}Webauthn Keys{{end}}

{{define "body"}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/webauthn.js"></script>
<div>
    <label for="keyName">Key Name:</label>
    <input id="keyName" name="keyName" type="text">
    <button onclick="doRegister()">Register Key</button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Delete</td>
            </tr>
        </thead>
        {{range $v := .User.Credentials }}
        <tr>
            <td>{{ $v.Name }}</td>
            <td>
                <form method="POST" onsubmit="return confirm('Really remove key {{ $v.Name }}?');">
                    {{ csrfField }}
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="keyID" value="{{ $v.ID }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {{end}}
    </table>

</div>


{{end}}
